@import '../../Scss/main.scss';

:root[data-theme="light"] {
    --avatar-title: #000;
}

:root[data-theme="dark"] {
    --avatar-title: #fff;
}

.avatar{
    height: fit-content;
    width: 80%;

    h1{
        font-size: 38px;
        font-weight: 700;

        color: var(--avatar-title);
    }

    p{
        font-size: 18px;
        font-weight: 400;

        max-width: 100%;

        color: var(--avatar-title);

        margin-top: 30px;
    }

    .line{
        width: 100%;
        height: 1px;

        background-color: var(--avatar-title);

        margin-top: 50px;
    }
}

.warning{
    position: relative;

    @include installation-warning;
}

.sidePanel{
    width: 20%;
    height: fit-content;
}