:root[data-theme="light"] {
    --install-warn-border: #ded2b0;
    --install-warn-bg: #F5EEC4;
    --install-warn-text: #926C23;
}

:root[data-theme="dark"] {
    --install-warn-border: #62410F;
    --install-warn-bg: #0D0A09;
    --install-warn-text: rgb(255, 255, 255);
}

@mixin installation-warning{
    width: 100%;
    height: fit-content;

    border-radius: 18px;

    background-color: var(--install-warn-bg);
    border: 2px var(--install-warn-border);
    border-style: solid;

    color: var(--install-warn-text);

    margin-top: 20px;

    font-size: 20px;
    font-weight: 300;
    line-height: 32px;

    padding: 16px 24px;
    box-sizing: border-box;

    text-align: left;

    text-indent: 32px;

    &::before{
        position: absolute;
        left: 20px;
        top: 18px;
    
        width: 32px;
        height: 32px;
    
        content: "";
            
        background-image: url('./src/assets/icons/warn.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
    }
}